<div class="cmp-countdown" data-sly-use.model="com.adobe.aem.guides.wknd.core.models.CountdownModel">
    <div id="countdown-timer" style="font-size: 24px; color: #b0de6f;"></div>
    <script>
        (function () {
            var endDate = '${model.formattedEndDate @ context="scriptString"}';
            var countdownTimer = document.getElementById('countdown-timer');

            function updateCountdown() {
                var now = new Date().getTime();
                var distance = new Date(endDate).getTime() - now;

                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                countdownTimer.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

                if (distance < 0) {
                    clearInterval(x);
                    countdownTimer.innerHTML = "EXPIRED";
                }
            }

            updateCountdown();
            var x = setInterval(updateCountdown, 1000);
        })();
    </script>
</div>