<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
</sly>

<sly data-sly-use.contactObj="com.adobe.aem.guides.wknd.core.models.ContactCardModel">

<div class="cmp-contact-card">
  <sly data-sly-list.item="${contactObj.contact}">
    <div class="cmp-contact-card__item">
      <div class="info-box">
        <div class="info-box__body">
          <sly data-sly-test="${item.contactName}">
            <h3 class="info-box__title">${item.contactName @ context='html'}</h3>
          </sly>
          <sly data-sly-test="${item.contactEmail}">
            <p class="info-box__email">
              Email: <a href="mailto:${item.contactEmail @ context='html'}" class="info-box__link" x-cq-linkchecker="valid">
                ${item.contactEmail @ context='html'}
              </a>
            </p>
          </sly>
        </div>
      </div>
    </div>
  </sly>
</div>

<!-- 
<cq:includeClientLib categories="wknd.contactCard" /> -->
</sly>
